---
layout: default
title: CodeBono
---

    <section id="home">
        <h1>{{ page.title }}</h1>
        <div class="quotes">
          Good code matters. We help by making better code and better coders.
        </div>
    </section>

    <div class="triangle">&nbsp;</div>
    
    <section id="about">
       <h2>CodeBono Vision</h2>
    <blockquote>
      Become a local hub for developers of all levels, in order to foster a stronger culture for software developers.
    </blockquote>
	<ul>
	{% for post in site.posts %}
		<li>
			<a href="{{ post.url }}">{{ post.title }}</a>
		</li>
	{% endfor %}
	</ul>
   </section>




    <section id="something-else">
     {% include pages/about-section.html %}
    </section>