/* COLORS */
$background: #E4E4E4;
$white: #fff;
$light-blue: #61D2DC;
$darker-blue: #41B3D3;
$font-color: #444444;

$grid-columns: 12 !default;

/* BREAKPOINTS */
 $mobile: new-breakpoint(max-width 40em);
 $medium: new-breakpoint(min-width 40.063em);
 $large: new-breakpoint(min-width 64.063em);






html,body{ font-family: 'Oswald', cursive; background-color: $background; color:$font-color;}
nav{
    &.fixed-navigation{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 100%;
        height: 50px;
        background-color: #000;
        background-color: rgba(0,0,0,0.6);
        transition: background-color 0.5s ease;

        &:hover{
            background-color: #000;
            background-color: rgba(0,0,0,1);
        }
    }

    ul.main-navigation{
        float:left;

        li{
            display: inline-block;
            margin:10px;
            color:$white;
            &.logo{
                border:3px solid $white;
                padding:3px;
                color:$white;
            }
        }
    }

    ul.social-navigation{
        float:right;
        li{
            display: inline-block;
            margin:10px;
        }
    }
}


// .triangle{
//     -ms-transform: matrix(1, 0.07, 0, -10, 0, 0); /* IE 9 */
//     -webkit-transform: matrix(1, 0.07, 0, -10, 0, 0); /* Safari */
//     transform: matrix(1, 0.07, 0, -10, 0, 0);
//     background-color: $light-blue;
// }

.container{
        @include outer-container;
}

section{
    min-height:350px;
    padding:20px;
}

#home{
    background: url('../images/build-code.jpeg') center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
    height:95vh;

    h1{
        font-size:75px;
        border: 8px solid $white;
        color:$white;
        width:350px;
        text-align: center;
        padding:10px;
        margin:5% auto 5% auto;
    }

    .quotes{
        color:$white;
        font-size: 50px;        
        margin: 0 auto;
        line-height: 60px;
        text-align: center;
        span{
            &.quote_author{
                display: block;
                font-size: 25px;
            }
        }
    }
}

#about{
    position: relative;
    z-index: 1;
    background-color: $light-blue;

    blockquote{
        font-weight: 300;
        font-size: 120px;
    }
}

#blog{
    .featurePanel {
       
        @include span-columns(4);
        
        @include media($mobile) {
          @include span-columns(12);
          height:800px;
        }
         @include media($medium) {
          @include span-columns(12);
          height:800px;
        }
        @include media($large) {
          @include span-columns(6);
          height:300px;
        }

        position: relative;
        overflow: hidden;


        .featurePanel-header {
            top: 50%;
            left: 8%;

             h1 a{
                display: inline;
                background: white;
                line-height: inherit;
                padding: 0 10px;
                position: absolute;
                z-index: 3;
                font-size: 50px;
                color: $font-color;
                text-decoration: none;
                margin-top: 15px;
            }
        }



        .featurePanel-image {
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%) scale(1.01);
            -ms-transform: translate(-50%, -50%) scale(1.01);
            transform: translate(-50%, -50%) scale(1.01);
            position: absolute;
            z-index: 1;
            width: 100%;
        }
    }

}