---
layout: default
---
<section id="post">

{% if page.image %}
  <header class="post-header" style="background: url('{{site.url }}/{{ page.image }}') center center fixed; -webkit-background-size: cover; -moz-background-size: cover;-o-background-size: cover;background-size: cover;">
  	
  </header>
{% endif %}

  <div class="container">
	<article class="post-content">
		{{ content }}
	</article>
  </div>

</section>


    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  

  	<h1 class="post-title with-image">{{ page.title }}</h1>


